<footer class="text-center bg-body-tertiary fixed-bottom">
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="https://github.com/astha24verma" target="_blank">Astha Verma</a>
    </div>
    <!-- Copyright -->
  </footer>