<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container justify-content-center w-25 mt-5">
      <h4>Login to your account</h4>
      <form action="/user/login" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>
          <input
            type="text"
            name="email"
            id="form2Example1"
            class="form-control"
          />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input
            type="text"
            name="password"
            id="form2Example2"
            class="form-control"
          />
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          value="Login"
          class="btn btn-primary btn-block mb-4"
        >
          Login
        </button>
      </form>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="/signup">Signup</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fa fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fa fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fa fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fa fa-github"></i>
        </button>
      </div>
    </div>
  </body>
</html>
